body, h1, h2, p, ul, lu, a{
    margin: 0; /* Removing the default margin */
    padding: 0; /* Removing the default padding */
    font-family: Arial, Helvetica, sans-serif; /* Setting the default font */
}